{% extends 'base.html' %} {% block content %}

<section class="projects">
  <h1>Projects</h1>

  <div class="project-card">
    <h3>Studio</h3>

    <p>Wedding Photography, Videography and Graphic Design.</p>

    <a href="https://www.instagram.com/argonstudioo" target="_blank">
      View Project
    </a>
  </div>

  <div class="project-card">
    <h3>Edits</h3>

    <p>Edits & Timeline📈</p>

    <a href="https://www.instagram.com/aibx.acs" target="_blank">
      View Project
    </a>
  </div>
</section>

{% endblock %}
