{% extends 'base.html' %} {% block content %}

<section class="skills">
  <h1>Skills</h1>

  <div class="skill-card">
    <h3>Frontend Development</h3>
    <p>HTML5, CSS3, JavaScript</p>
  </div>

  <div class="skill-card">
    <h3>Backend Development</h3>
    <p>Python, Django, SQLite</p>
  </div>

  <div class="skill-card">
    <h3>Mobile Development</h3>
    <p>Flutter</p>
  </div>

  <div class="skill-card">
    <h3>Creative Skills</h3>
    <p>Graphic Design, Videography & Photography</p>
  </div>

  <div class="skill-card">
    <h3>Editing</h3>
    <p>Video Editing & Photo Editing</p>
  </div>
</section>

{% endblock %}
